<nav class="navbar navbar-expand-sm fixed-top">
      <div class=" container ">
        <a class="navbar-brand text-uppercase " href="#" routerLink='start-angular'>start angular</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon  d-flex justify-content-center">
                        MENU <i class="fas fa-bars pl-1"></i>
                </span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item ">
                                <a class="nav-link text-uppercase px-4 py-3" href="#" routerLink='portfolio' routerLinkActive='link-active'>portfolio</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-uppercase  px-4 py-3" href="#" routerLink='about' routerLinkActive='link-active'>about</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-uppercase  px-4 py-3" href="#" routerLink='contact' routerLinkActive='link-active'>contact</a>
                        </li>
                       
                </ul>
              
        </div>
      </div>
</nav>
