<section class="contact py-5">
        <div class="container py-5">
                <h2 class="text-center text-uppercase pt-5">Contact Me</h2>
                <div class="icon text-center py-3">
                        <i class="fas fa-star "></i>
                </div>
                <div class="row">
                        <div class="col-lg-8 mx-auto pt-5">
                                <form action="">
                                        <input type="text" placeholder="Name" class=" w-100">
                                        <input type="email" placeholder="Email Address" class=" w-100">
                                        <input type="number" placeholder="Phone Number" class=" w-100">
                                        <textarea placeholder="Message" rows="7" class=" w-100"></textarea>
                                        <button class="btn ">Send</button>
                                </form>
                        </div>
                </div>
                
        </div>
</section>